<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCb-VR6bdnpF67RbVymY1BtW9yCEMBjdJ4</string>
	<key>GCM_SENDER_ID</key>
	<string>284872338175</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bogdan.become</string>
	<key>PROJECT_ID</key>
	<string>become-1adb0</string>
	<key>STORAGE_BUCKET</key>
	<string>become-1adb0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:284872338175:ios:54cae142d6bfd2c45e7aca</string>
</dict>
</plist>